html {
  font-size: 18px;
}

.maincontainer {

  width: 100%;
  margin: auto;
}

.logocontainer {
  display: flex;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 2.32rem;
}

.logoimage {
  display: inline-block;
  height: 1.5rem;
  padding-left: .5rem;
}

.logotext {
  color: white;
  padding-left: 1rem;
  font-family: Helvetica;
  font-size: 1rem;
}

.banner {
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bannertextcontainer {
  background-color: black;
  width: 20rem;
  height: 10rem;
  position: relative;
  top: 9rem;
  margin-left: 6rem;
}

h1, h4 {
  font-family: Helvetica;
  font-weight: bold;
  padding-left: 3rem;
}

h4 {
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: .25rem;
  color: white;
}

h1 {
  font-size: 2rem;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  color: white;
  background-color: firebrick;
  height: 2.32rem;
  justify-content: space-around;
  width: 100%;
  font-family: Helvetica;
  font-size: 1rem;
}

nav span {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.mainproductcontainer {
  max-width: 960px;
  margin: 0 auto;
}

.productgrid {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.productcontainer {
  width: 30%;
}

.productimage {
  display: flex;
  height: 9rem;
  border: 4px solid black;
  padding: 2em 0;
  justify-content: center;
  align-items: center;
}

.productimage img {
  max-width: 8rem;
}

.imagetext {
  display: block;
  text-align: center;
  padding: .5rem;
  background-color: black;
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
}

.landhcontainer {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}

.landhbox {
  width: 35%;
}

.locationtext, .hourstext {
    text-align: left;
    background-color: black;
    color: white;
    font-family: Helvetica;
    font-size: 1rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  footer {
      background-color: black;
  }

.footertextcontainer {
  height: 5rem;
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  align-items: center;
  text-align: left;
}

.footertext {
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
}

.mobilenav {
  display: none;
}

@media only screen and (max-width: 1024px) {
    .desktopnav {
      display: none;
    }

    .mobilenav {
      display: flex;
    }

    nav {
      justify-content: center;
    }

#image3 {
  display: none;
}

.productcontainer {
  width: 47%;
}

}

@media only screen and (max-width: 470px) {

.logocontainer {
  justify-content: center;
}

.logotext {
  display: none;
}

.banner {
  background-image: url("../images/moto.jpeg");
  height: 15rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bannertextcontainer {
    height: 5rem;
    width: 100%;
    position: relative;
    top: 10rem;
    margin-left: 0;
  }

  h1, h4 {
    padding-left: 2rem;
  }

  h4 {
    font-size: .77rem;
    padding-top: 1rem;
    padding-bottom: .25rem;
    color: white;
  }

  h1 {
    font-size: 1rem;
    color: white;
  }

  #image2 {
    display: none;
  }

  .productgrid {
    display: flex;
    justify-content: center;
    margin: 3em 0 0 0;
  }

  .productcontainer {
    width: 90%;
  }

  .landhcontainer {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .landhbox {
    width: 90%;
  }

.locationnumber {
  margin-bottom: .5rem;
}

.footertextcontainer {
  justify-content: center;
}

}
